*body{
 background-color: rgba(255, 255, 255, 0.993);
}
.navegador{
    background-color: rgba(21, 58, 3, 0.315);
}
.top-nav-collapse{
    background-color:  rgba(28, 77, 3, 0.212) !important;

}
.padre{
    margin: 0;
    padding: 0;
}
.redes{
    height: 20px;
}
.portada{
height: 100vh !important;
max-width: 100vw !important;
background-size: 100% 100%;
overflow: hidden;
display: flex;
flex-wrap: wrap;
}
.titulo-portada{
   text-shadow: 1px 1px 1px rgb(163, 223, 159);;
 
    margin: auto;
    font-size: 3rem;

}
.nav-link:hover{
    color: rgb(74, 197, 17)!important;

}
.btn-portada{
    border-bottom: rgb(47, 138, 4) 1px solid ;
    background-color:rgba(0, 0, 0, 0.349);
    color: white;
    margin: auto;
    font-size: 2rem; 
    font-family: 'Courgette', cursive;
}

.uno{
    background-color:  rgba(255, 255, 255, 0.993);
    height: 100vh;
    width:100%;
    color: black!important;
}
.Nosotros-colum{
  
    background-image: url(./quienesSom.jpg)!important;
    background-repeat: no-repeat;
    color:black;
    background-size: 100% 100%;
   height: 100vh;
   display: flex;
justify-items: center;
}
.btnNosotros{
    display: flex;
    align-items: center;
    color: black;
    border: rgb(47, 138, 4) 1px!important;
}

.dos{
    background-color: rgba(252, 252, 252, 0.993);
    height: 100vh;
    width:100%;
    color: black!important;
}
.tres{
    background-color:  rgba(255, 255, 255, 0.993);
    height: 100vh;
    width:100%;
}

.primero{
    font-size: 4rem;
    font-family: 'Anton', sans-serif;
    color: black;
    text-align: center;
}

.fuenteDos{
    font-family: 'Baloo Chettan 2', cursive;
    background-color: rgba(255, 255, 255, 0.993);
    color: black;
}
.servicioIndiv{
/* border: mediumpurple solid 1px; */
color: rgb(221, 221, 223);

}
.servicio-cajaTitulo{
    background-color:rgba(255, 255, 255, 0.993);
    height: 100vh;
}

.softwareFac2{
    background-color:rgba(255, 255, 255, 0.993);
    height: 110vh;
}
.softwareFac{
background-image: url(./fondominim2.jpg)!important;
height: 110vh;
background-repeat: no-repeat;
background-size: 100% 100%;
}
.contacto-formu{
    background-color:rgba(255, 255, 255, 0.993);
    height: 100vh;
}
.contacto-mapa{
    background-color:rgba(255, 255, 255, 0.993);
   height: 100vh;
}
.btn-Contacto{
    background-color:rgba(255, 255, 255, 0.993);
    border: solid 2px rgb(47, 138, 4) !important;
}
.btn-Contacto:hover{
    background-color: rgb(47, 138, 4)!important;
    color:black!important;
}
.cardServ{
    background-color:rgba(255, 255, 255, 0.993)!important;
    
}
.imgSer{
    height: 400px!important;

}
.serviciosolo{
    background-color:rgba(255, 255, 255, 0.993);
}
.card-header, .cuerpoCard{
    background-color:rgba(255, 255, 255, 0.993)!important;
}
.btn-link{
    color:  rgb(62, 185, 5)!important;
    font-size: large!important;
    border-top: solid 1.5px rgb(47, 138, 4)!important;
    /* border-left: solid 1.5px rgb(91, 2 ,150)!important; */
}
.btn-link:hover{
    color:  rgb(0, 0, 0)!important;
    font-size: large!important;
}
.linea{
  color: rgb(48, 151, 1);  
  border: solid 1px rgb(48, 146, 3); 
}
.linea1{
    border: solid 1px grey;
}
.accordion{
    border: none!important;
}
.card{
    border:none!important;
}
.imgcharla{
    height: 80vh;
    
    background-size: 100% 100%;

}
.botonserv{
    background-color: rgb(47, 138, 4)!important;
    color: white!important;
    border: none!important;
}
.botonFormu:hover{
    background-color: white;
    border: solid 2px rgb(47, 138, 4)!important;
}
.botonFormu{
    
    background-color: rgba(46, 138, 4, 0.836)!important;
}
.redes{
    
    font-family: 'Anton', sans-serif;
}
.imgcursos{
    height: 250px;
    width: 250px;
}
.ofertaacademica{
    width: 100%;

} 
.footer{
    background-color: white;
}

@media (min-width: 280px) and (max-width: 660px){
    .portada{
        height: 60vh!important;
        width: 100% !important;
        display: flex !important;
        font-size: small!important;
        padding: 0!important;
       
    }
    .titulo-portada{
        font-size: medium!important;
        padding: 0!important;
    }
    .btn-portada{
        margin: auto;
        font-size: small; 
    }
    .fuenteDos{
        font-size: medium;
    }
    .primero{
        font-size: 2rem;
    }
    .uno{
        height: 90vh;
        padding: 0%!important;
    }
    .softwareFac{
        display: none;
    }
    .softwareFac2{
        background-image: url(./fondominim2.jpg);
        max-width: 100vw;
        max-height: 130vh;
        background-repeat: no-repeat;
        background-size: 100% 100%;
    }
    .contacto-formu{
        height: 90vh;
        max-width: 100vw;
    }
    .contacto-mapa{
        height: 100vh;
        max-width: 100vw!important; 
    }

  .ofertaacademica{
    width: 100%;
    padding: 0!important;
}
}
@media (min-width: 280px) and (max-width: 760px){
.Nosotros-colum{
    display: none;
}
.servicio-cajaTitulo{
    height: 150vh;
}
.parrafoServ{
    display: none;
}
.imgcharla{
    height:90vh!important;
    width:100% ;
    background-size: 100% 100%;

}
}
@media (min-width: 760px) and (max-width: 998px){
    .servicio-cajaTitulo{
        height: 170vh;
    }  

}